:root{
    --blue-1:#4200FF;
    --grey-1:#FFFFFF;
    --grey-10:#000000;
    --red-1:#CE4646;
    --green-1:#4BA036;

    --font-weight--bold: bold;
    --font-weight--regular: 600;

    --font_family--poppins:'Poppins', sans-serif;
}

body{
    background-color:#f5f5f5;

    width: 100vw;
}

